<div class="container">
    <div class="row">
        <h1 class="text-center my-5">Calculadora de presupuestos</h1>

        <h3>La calculadora crea un presupuesto para un sitio web basándose en las indicaciones
            del usuario.</h3>
        <h3>El presupuesto consta de tres elementos principales: Una página web, una consultoría 
            SEO y una campaña de marketing. El usuario puede marcar los elementos que desee incluir en
            su presupuesto, cada uno con un precio base indicado en pantalla.</h3>
        <h3>Al pie del presupuesto se va actualizando el precio total del mismo.</h3>
        <h3>Al seleccionar la página web, aparece un formulario que permite indicar el número de 
            páginas y de idiomas a implementar. Multiplicando el número de páginas, por el número de idiomas, 
            por 30€, obtendremos el importe que se añadirá a la opción base de la página web (500€).</h3>
        <h3>El número de páginas, al igual que el de idiomas, no puede ser inferior a uno. Si esto sucede 
            se mostrará en pantalla un mensaje de error y el total del presupuesto aparecerá en color rojo.</h3>
        
        <a class="btn btn-primary fs-2 my-5 col-12 col-sm-6 offset-sm-6 col-lg-2 offset-lg-10" href="/calculator">Calculadora</a>
    </div>
</div>
