

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4.5,
    ) !default;

$utilities: () !default;
$utilities: map-merge((
    "width-rem": ( // New map
        property: width,
        class: wr,
        values: $spacers 
    ),
    "height-rem": ( // New map
        property: height,
        class: hr,
        values: $spacers 
    )
), $utilities );

@import "bootstrap/scss/bootstrap";

