
<form [formGroup]="checkoutForm" class="fs-3 col-12">

    <p class="my-4">¿ Qué quieres hacer ?</p>

    <div class="d-flex align-items-center">
        <input id="website" type="checkbox" formControlName="website" 
            class="flex-shrink-0 wr-4 hr-4 me-3"
            (click)="onClick(0)">
        <label for="website">
            Una página web (500€)
        </label>
    </div>
    <app-panel *ngIf="status[0]" (changeEmitter)="panelChange($event)"></app-panel>

    <div class="d-flex align-items-center">
        <input id="consulting" type="checkbox" formControlName="consulting" 
            class="flex-shrink-0 wr-4 hr-4 me-3"
            (click)="onClick(1)">
        <label for="consulting">
            Una consultoría SEO (300€)
        </label>
    </div>

    <div class="d-flex align-items-center">
        <input id="marketing" type="checkbox" formControlName="marketing" 
            class="flex-shrink-0 wr-4 hr-4 me-3"
            (click)="onClick(2)">
        <label for="marketing">
            Una campaña de Google Ads (200€)
        </label>
    </div>
    
    <p class="my-4">Precio: <span [class.text-danger]="!priceOk">{{ total }}€</span></p>

    <a class="btn btn-primary fs-2 my-5 col-12 col-sm-6 offset-sm-6 col-lg-2 offset-lg-10" href="/home">Inicio</a>
</form>
