<div @openClose>
    <form [formGroup]="checkoutForm" novalidate 
        @openClose
        class="was-validated border border-5 border-black rounded-4 fs-3 my-3 px-3 py-5">

        <div class="row mb-3 align-items-baseline">
            <label for="pages" class="col-10 offset-1 col-sm-5 mb-2">
                Número de páginas
            </label>
            <div class="col-8 offset-3 col-sm-5 offset-sm-0 d-flex">
                <button class="btn btn-warning fw-bolder"
                    (click)="add('pages')">
                    <span>&#xFF0B;</span>
                </button>
                <input id="pages" inputmode="numeric" formControlName="pages"
                    (keydown)="onKeydown($event)" 
                    (input)="setCount()" class="form-control fs-3">
                <button class="btn btn-warning fw-bolder"
                    (click)="remove('pages')">
                    <span>&#x2014;</span>
                </button>
            </div>
            <div class="text-danger text-end col-10 offset-1 col-sm-9 offset-sm-2" *ngIf="checkoutForm.get('pages')!.invalid" >  <!-- && checkoutForm.get('pages')!.touched -->
                Mínimo una página.
            </div>
        </div>

        <div class="row align-items-baseline">
            <label for="languages" class="col-10 offset-1 col-sm-5 mb-2">
                Número de idiomas
            </label>
            <div class="col-8 offset-3 col-sm-5 offset-sm-0 d-flex">
                <button class="btn btn-warning fw-bolder"
                    (click)="add('languages')">
                    <span>&#xFF0B;</span>
                </button>
                <input id="languages" inputmode="numeric" formControlName="languages" 
                    (keydown)="onKeydown($event)" 
                    (input)="setCount()" class="form-control fs-3">
                <button class="btn btn-warning fw-bolder"
                    (click)="remove('languages')">
                    <span>&#x2014;</span>
                </button>
            </div>
            
            <div class="text-danger text-end col-10 offset-1 col-sm-9 offset-sm-2" *ngIf="checkoutForm.get('languages')!.invalid" >
                Mínimo un idioma.
            </div>
        </div>

    </form>
</div>